<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/vendors/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/vendors/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/vendors/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="/vendors/linericon/style.css">
    <link rel="stylesheet" href="/vendors/owl-carousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="/vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="/vendors/nice-select/nice-select.css">
    <link rel="stylesheet" href="/vendors/nouislider/nouislider.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div th:insert="fragments/menu :: menu"></div>
<!--================Single Product Area =================-->
<div  class="product_image_area">
    <div class="container">
        <div  th:object=${productDto}  class="row s_product_inner">
            <div class="col-lg-6">
                <div class="card-product__img">
                    <img class="card-img" th:src="${'data:image/png; base64, '+productDto.image}" alt="">
                    <ul class="card-product__imgOverlay">
                        <li><button><i class="ti-search"></i></button></li>
                        <li><button><i class="ti-shopping-cart"></i></button></li>
                        <li><button><i class="ti-heart"></i></button></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-5 offset-lg-1">
                <div class="s_product_text">
                    <h3 th:text="${productDto.name}"></h3>
                    <h2 th:text="'$'+${productDto.price}"></h2>
                    <ul class="list">
                        <li><a  class="active" href="#"><span th:text ="${productDto.category}">Category</span></a></li>
                        <li><a href="#"><span>Availibility</span> <span th:text ="${productDto.quantity}">  <q>Quantity</q></span></a></li>
                    </ul>
                    <p th:text ="${productDto.description}"></p>
                    <div class="product_count">
                        <form th:object="${chosenProductDto}" th:action="@{/product/{productId}(productId=${productDto.id})}" method="post">
                            <label for="qty">Quantity:</label>

                            <input th:field="*{chosenProductQuantity}" type="number" name="qty" id="sst" size="2" maxlength="12" value="1" title="Quantity:" class="input-text qty">

                            <button class="btn btn-primary" type="submit"> Add to cart </button>
                        </form>
                    </div>
                    <div class="card_area d-flex align-items-center">
                        <a class="icon_btn" href="#"><i class="lnr lnr lnr-diamond"></i></a>
                        <a class="icon_btn" href="#"><i class="lnr lnr lnr-heart"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--================End Single Product Area =================-->

</body>
</html>